:root {
  max-width: 1100px;
  border-radius: 12px;
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: 100px;
  max-width: 800px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 16px;
}

.mt-4 {
  margin-top: 32px;
}

.fnt-12 {
  font-size: 12px;
}

.comments {
  font-size: 12px;
  background-color: #cecece;
  list-style: none;
  padding: 16px 0px 8px 16px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
